.dialog-choice
{
    font-size: 22px;
    color:grey;
    text-align:center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.dialog-choice:hover
{
    color:black;
}
.dialog-title
{
    color:black;
    font-size:24px;
    text-align:center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}